# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
